body {
    margin: 0;
    padding: 0;
}

/* 被选中的图片 */
.swiper-slide-active {
    opacity: 1;
}
.banner {
    width: 1920px;
    height: 640px;
    margin:0 auto;
}
.swiper-button-prev{
    background-image: none;
    outline: none;
    background: url(../images/left.png);
    position: absolute;
    left:338px;
    width: 30px;
    height: 50px;
}
.swiper-button-next{
    background-image: none;
    outline: none;
    background: url(../images/right.png);
    position: absolute;
    right:338px;
    width: 30px;
    height: 50px;
}
.swiper-pagination-bullet {
    width: 50px;
    height: 4px;
    border-radius: 0;
    opacity: 0.8;
    background: #fff;
}
.swiper-pagination-bullet-active {
    background-color: #ff6a00;
    opacity: 1;
}
.swiper-pagination-bullet-active:focus {
    outline: none;
}
.bg-image {
    background-size: cover;
    background-position: center;
}
/* 大图 */
.Gintama {
    background-image: url(../images/02_1517536570441.jpg);
}
.SteinsGate {
    background-image: url(../images/04_1515047442501.jpg);
} 
