*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* 头部*/
.header_bg{
    width: 100%;
    border-bottom:2px solid #d5d5d5;
    position:fixed;
    background: #fff;
    z-index: 5;
}
.header{
    width: 1222px;
    height: 103px;
    margin: 0 auto;
}
/* 购物车 */
.header_top_box{
    width: 1222px;
    height: 40px;
}
.header_top{
    width: 312px;
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    float: right;
    background: url(../images/123_03.png) no-repeat 108px 15px,
                url(../images/123_03.png) no-repeat 184px 15px;
}
.header_top li{
    float:left;
    margin-left: 21px;
}
.header_top_li a{
    color:#ef594b;
}
.header_top_li2 a{
    color:#a5a5a5;
}
.header_top_li2 a:hover{
    color:#ef594b;
}
/* 导航栏，搜索框 */
.header_bottom{
    width: 1222px;
    height: 63px;
}
.header_logo{
    width: 200px;
    height: 51px;
    float:left;
    background: url(../images/xuebi.png) no-repeat 0px 0px;
}
.header_nav{
    width: 630px;
    height: 63px;
    /* background: #c1c1c1; */
    float:left;
    margin-left:150px;
    line-height: 63px;
}
.header_nav_li2_hover{
    width: 100%;
    height: 313px;
    margin:0 auto;
    position: absolute;
    background: #fff;
    z-index: 2;
    left:0px;
    bottom:321px;
    display: none;
    border-top:4px solid #d8d8d8;
}
.header_nav li:hover .header_nav_li2_hover{
    display: block;
}
/* 手机hover栏详情 */
.header_nav_phone{
    width: 1350px;
    height: 313px;
    margin:0 auto;
}
.header_nav_phone dl{
    float: left;
    width: 13%;
    line-height: 33px;
    margin-top:30px;
}
.header_nav_phone dl dt{
    font-size: 20px;
    font-weight: 600;
}
.header_nav_phone dl dd{
    font-size: 18px;
}
.header_nav_phone dl dt a{
    color:#757575;
}
.header_nav_phone dl dd a{
    color:#969696;
}
.header_nav_phone dl dd a:hover{
    color:#ef594b;
}


.header_nav li a{
    float:left;
    margin-left: 56px;
    color:black;
    font-size: 14px;
}
.header_nav li a:hover{
    color:#ef4222;
}
.header_input{
    width: 200px;
    height: 63px;
    /* background: #9f9fa2; */
    float:right;
}
.header_input input:nth-child(1){
    width: 142px;
    height: 28px;
    float:left;
    border:1px solid #dddddd;
    border-right:none;
    margin-top:16px;
    /* margin-left:60px; */
}
.header_input_searcn{
    width: 28px;
    height: 28px;
    float:left;
    background: url(../images/xuebi.png)no-repeat -232px 1px;
    border:1px solid #dddddd;
    border-left: none;
    margin-top:16px;
    display: block;
}
