*{
    margin:0;
    padding: 0;
}
ul.li{
    list-style: none;
}
.column_StarProduct{
    width: 1222px;
    height: 401px;
    margin: 0 auto;
    padding-top:49px;
    /* background: rgb(214, 97, 97); */
}
.column_StarProduct h2{
    font-size: 28px;
    color:black;
    font-weight: 400;
    margin-left: 550px;
}
.column_img{
    width: 1222px;
    height: 270px;
}
.column_img li{
    width: 390px;
    height: 270px;
    float:left;
    margin-left:8px;
    margin-top:49px;
}